@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
#notification {
  white-space: nowrap;

  animation-name: marquee;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  from {
    transform: translate(0%);
  }

  100%,
  to {
    transform: translate(-100%);
  }
}